.logo {
	font-weight: 300;
	padding-left: 30px;
}
  .parallax-container {
      height: 300px;
    }
.inf {
	font-size: 25px;
	margin-right: 100px;
	font-weight: 300;
}
.section-header {
	font-weight: 300;
}
.cta {
	font-weight: 300;
	text-shadow: 1px 1px black;
}
.contact-form {
	padding-top: 40px;
}
.page-footer {
	margin-top: 50px;
}
.a-hide{opacity: 0;}
.a-show{opacity: 1;}
/*.magictime {*/
	/*-webkit-animation-duration: 2s;*/
	/*-moz-animation-duration: 2s;*/
	/*-o-animation-duration: 2s;*/
	/*animation-duration: 2s;*/
/*}*/
@media only screen and (max-width: 939px) {
	.mybtn {
		margin-top: 200px;
	}
}
